# Created by https://www.gitignore.io/api/eagle

### Eagle ###
# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.sch.lck
*.brd.lck

# RT1 Datasheet - Hopefully only temporary ignore
Data\ Sheets/Decagon\ RT1.pdf

# Anything in Misc folder
Miscellaneous/*

# Accounting Stuff
Accounting/*

# Excel temporary
~$*.xls*

# MLX Word Document
Hardware\ Information/MLX\ Housing/MLX_Documentation.docx
